# add under the [mysqld] section
[mysqld]
server-id		= 1
report_host		= {{ ansible_hostname }}
innodb_buffer_pool_size	= {{ (ansible_memtotal_mb * 0.8) | int }}
bind-address		= 0.0.0.0

[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
